#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 0 0;
  text-align: center;
}
.messages {
  overflow: auto;
}

#container {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  width: 100wp;
  overflow: hidden;
}
.interaction-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #777;
  padding: 20px;
}
.status-holder {
  background-color: #fff;
  border-radius: 10px;
  min-width: 60px;
  max-width: 100px;
  padding: 5px;
  margin: 0 80%;
}
.connection-status {
  font-size: 0.5em;
}
.actual-usr {
  font-size: 0.6em;
  font-weight: bold;
}

.input-section textarea {
  border-radius: 15px;
  padding: 20px;
  font-size: 0.9em;
}

.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 70;
  background-image: radial-gradient(rgba(50, 51, 52, 0.8) 1px, transparent 1px);
  background-size: 4px 4px;
  background-color: #1c1c1c99;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  background-color: #fff;
  border-radius: 30px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 99;
  box-shadow: 1px 1px 5px #FFF;
  border: 10px solid #CCC;
}
.input-login {
  width: 60%;
  height: 20px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #373737;
  color: #cfcfcf;
  box-shadow: 0 0 5px #555;
  transition: 0.5s ease;
}

.input-login:hover {
  transform: scale(1.05);
} 
.input-login:focus {
  transform: scale(1.2);
} 

.btn-login {
  background-color: greenyellow;
  border: 1px solid greenyellow;
  border-radius: 20px;
  padding: 15px;
  transition: 0.2s ease;
}
.btn-login:hover {
  background-color: rgb(158, 233, 46);
  box-shadow: 0 0 15px rgb(153, 255, 0);
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}
.error-login {
  color: red;
  font-size: 0.8em;
}
.btn-send {
  background-color: lightskyblue;
  border: 1px solid lightblue;
  border-radius: 20px;
  padding: 15px;
}
.input-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.list-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menti-container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.list-users {
  border: 1px solid #CCC;
  border-radius: 20px;
  min-height: 20%;
  min-width: 30%;
  padding: 20px;
  margin: 10px;
  text-align: left;
  color: #FFF;
}

#loggedInInput {
  outline: none;
  border: none;
  border-radius: 2px;
  height: 40px;
  font-size: 15px;
  margin: 20px;
  text-align: center;
  transition: 1s ease;
}

#loggedInInput:hover {
  height: 100px;
  border-radius: 12px;
  box-shadow: 0 0 7px white;
}
#loggedInInput:focus {
  height: 100px;
  box-shadow: 0 0 7px white;
}